.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 234px;
    padding: 8px;
    background-color: #313439;
    backdrop-filter: blur(13.5px);
    border-radius: 4px;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
}
